@mixin split($options...) {
	@include clearfix();
	$totalFixedWidth: 0;
	$counter: 0;
	@each $option in $options {
		@if unit($option) == 'em' {
			$totalFixedWidth: $totalFixedWidth + $option;
		}
	}
	@each $option in $options {
		$counter: $counter + 1;
		@if unit($option) == 'em' {
			:nth-child(#{$counter}) {
				box-sizing: border-box;
				width: $option;
				float: left;
			}
		} @else if unit($option) == '%' {
			:nth-child(#{$counter}) {
				box-sizing: border-box;
				float: left;
				@if $totalFixedWidth == 0 {
					width: $option;
				} @else {
					width: calc(#{$option} - #{$totalFixedWidth});
				}
			}
		}
	}
	@content;
}
