body {
  font-size: 22px; }

.whatever-wrapper1 {
  zoom: 1; }
  .whatever-wrapper1:before, .whatever-wrapper1:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .whatever-wrapper1:after {
    clear: both; }
  .whatever-wrapper1 :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 10em; }
  .whatever-wrapper1 :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 20em); }
  .whatever-wrapper1 :nth-child(3) {
    box-sizing: border-box;
    float: left;
    width: 10em; }
  .whatever-wrapper1 .whatever {
    background: red; }
  .whatever-wrapper1 .whatever-foo {
    background: blue; }
  .whatever-wrapper1 .whatever-bar {
    background: yellow; }

.whatever-wrapper2 {
  zoom: 1; }
  .whatever-wrapper2:before, .whatever-wrapper2:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .whatever-wrapper2:after {
    clear: both; }
  .whatever-wrapper2 :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 100px; }
  .whatever-wrapper2 :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: 70px; }
  .whatever-wrapper2 :nth-child(3) {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 170px); }
  .whatever-wrapper2 .whatever {
    background: red; }
  .whatever-wrapper2 .whatever-foo {
    background: blue; }
  .whatever-wrapper2 .whatever-bar {
    background: yellow; }
