body {
	font-size: 22px;
}

@import 'clearfix';
@import 'fluix';

.whatever-wrapper {
	@include split(10em, 100%, 10em) {
		.whatever {
			background: red;
		}
		.whatever-foo {
			background: blue;
		}
		.whatever-bar {
			background: yellow;
		}
	}	
}

