// TODO: @warn if em ems and px are used in the same list
// TODO: add 'fill' as a facade to 100%;
// TODO: add a totalPercentageWidth in the mixin

body {
	font-size: 22px;
}

@import 'clearfix';
@import 'fluix';

.whatever-wrapper {
	@include split(10em, 100%, 10em) {
		.whatever {
			background: red;
		}
		.whatever-foo {
			background: blue;
		}
		.whatever-bar {
			background: yellow;
		}
	}	
}

