html,
body {
  margin: 0; }

body {
  font-family: sans-serif;
  padding: 1em 2em;
  font-size: 16px;
  line-height: 1.5em; }

a {
  color: #3333dd;
  text-decoration: none; }
  a:hover {
    color: #1111aa; }

pre {
  background: #222;
  padding: 1em;
  color: #fff; }

.example1-main {
  margin: 0 -2em;
  zoom: 1; }
  .example1-main:before, .example1-main:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .example1-main:after {
    clear: both; }
  .example1-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 200px; }
  .example1-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 200px); }
  .example1-main .example1-navigation {
    background: red; }
  .example1-main .example1-content {
    background: blue; }

.example2-main {
  margin: 0 -2em;
  zoom: 1; }
  .example2-main:before, .example2-main:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .example2-main:after {
    clear: both; }
  .example2-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 50%;
    width: calc(50% - 0); }
  .example2-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: 50%;
    width: calc(50% - 0); }
  .example2-main .example2-left {
    background: red; }
  .example2-main .example2-right {
    background: blue; }

.example3-main {
  margin: 0 -2em;
  zoom: 1; }
  .example3-main:before, .example3-main:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .example3-main:after {
    clear: both; }
  .example3-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 300px; }
  .example3-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 600px); }
  .example3-main > :nth-child(3) {
    box-sizing: border-box;
    float: left;
    width: 300px; }
  .example3-main .example3-navigation {
    background: red; }
  .example3-main .example3-content {
    background: blue; }
  .example3-main .example3-aside {
    background: green; }
