@import 'examples-style';
@import '../dist/fluix';

//---------------------------------------------
// Fixed | Fluid two columns
//---------------------------------------------
.example1-main {
    margin:0 -2em;
    @include columns(200px, 100%) {
        .example1-navigation {
            background: red;
        }
        .example1-content {
            background: blue;
        }
    }
}

//---------------------------------------------
// Fluid | Fluid two columns
//---------------------------------------------
.example2-main {
    margin:0 -2em;
    @include columns(50%, 50%) {
        .example2-left {
            background: red;
        }
        .example2-right {
            background: blue;
        }
    }
}


//---------------------------------------------
// Fixed | Fluid | Fixed three columns
//---------------------------------------------
.example3-main {
    margin:0 -2em;
    @include columns(300px, 100%, 300px) {
        .example3-navigation {
            background: red;
        }
        .example3-content {
            background: blue;
        }
        .example3-aside {
            background: green;
        }
    }
}

//---------------------------------------------
// Fluid ten columns
//---------------------------------------------
.example4-main {
    margin:0 -2em;
    @include columns(10%, 10%, 10%, 10%, 10%, 10%, 10%, 10%, 10%, 10%) {
        text-align: center;
    }
}
