html,
body {
  margin: 0; }

body {
  font-family: sans-serif;
  padding: 1em 2em;
  font-size: 16px;
  line-height: 1.5em; }

a {
  color: #3333dd;
  text-decoration: none; }
  a:hover {
    color: #1111aa; }

pre {
  background: #222;
  padding: 1em;
  color: #fff; }

.example1-main, .example2-main, .example3-main, .example4-main, .example6-main, .example6-content-item, .example7-wrapper .example7-main {
  zoom: 1; }
  .example1-main:before, .example2-main:before, .example3-main:before, .example4-main:before, .example6-main:before, .example6-content-item:before, .example7-wrapper .example7-main:before, .example1-main:after, .example2-main:after, .example3-main:after, .example4-main:after, .example6-main:after, .example6-content-item:after, .example7-wrapper .example7-main:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .example1-main:after, .example2-main:after, .example3-main:after, .example4-main:after, .example6-main:after, .example6-content-item:after, .example7-wrapper .example7-main:after {
    clear: both; }

.example1-main {
  margin: 0 -2em; }
  .example1-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 200px; }
  .example1-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 200px); }
  .example1-main .example1-navigation {
    background: red; }
  .example1-main .example1-content {
    background: blue; }

.example2-main {
  margin: 0 -2em; }
  .example2-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 50%;
    width: calc(50% - 0); }
  .example2-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: 50%;
    width: calc(50% - 0); }
  .example2-main .example2-left {
    background: red; }
  .example2-main .example2-right {
    background: blue; }

.example3-main {
  margin: 0 -2em; }
  .example3-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 300px; }
  .example3-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 600px); }
  .example3-main > :nth-child(3) {
    box-sizing: border-box;
    float: left;
    width: 300px; }
  .example3-main .example3-navigation {
    background: red; }
  .example3-main .example3-content {
    background: blue; }
  .example3-main .example3-aside {
    background: green; }

.example4-main {
  margin: 0 -2em;
  text-align: center; }
  .example4-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(3) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(4) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(5) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(6) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(7) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(8) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(9) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }
  .example4-main > :nth-child(10) {
    box-sizing: border-box;
    float: left;
    width: 10%;
    width: calc(10% - 0); }

.example6-main {
  margin: 0 -2em; }
  .example6-main > :nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 200px; }
  .example6-main > :nth-child(2) {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 200px); }
  .example6-main .example6-aside {
    background: red; }
  .example6-main .example6-content {
    background: blue;
    padding: .5em; }

.example6-content-item > :nth-child(1) {
  box-sizing: border-box;
  float: left;
  width: 100px; }
.example6-content-item > :nth-child(2) {
  box-sizing: border-box;
  float: left;
  width: calc(100% - 100px); }
.example6-content-item .example6-avatar {
  background: yellow; }
.example6-content-item .example6-title {
  background: green; }

.example7-wrapper {
  margin: 0 -2em; }
  .example7-wrapper .example7-main {
    border: 1px solid red; }
    .example7-wrapper .example7-main > :nth-child(1) {
      box-sizing: border-box;
      float: left;
      width: 20%;
      width: calc(20% - 0); }
    .example7-wrapper .example7-main > :nth-child(2) {
      box-sizing: border-box;
      float: left;
      width: 80%;
      width: calc(80% - 0); }
    .example7-wrapper .example7-main .example7-foo {
      background: yellow; }
    .example7-wrapper .example7-main .example7-bar {
      background: green; }
