@import '../dist/fluix';

//---------------------------------------------
// Fixed | Fluid two columns
// fixed-fluid-two-columns.html
//---------------------------------------------
.example1-main {
    @include columns(200px, 100%) {
        .example1-navigation {
            background: red;
        }
        .example1-content {
            background: blue;
        }
    }
}

//---------------------------------------------
// Fluid | Fluid two columns
// fluid-fluid-two-columns.html
//---------------------------------------------
.example2-main {
    @include columns(50%, 50%) {
        .example2-left {
            background: red;
        }
        .example2-right {
            background: blue;
        }
    }
}


//---------------------------------------------
// Fixed | Fluid | Fixed three columns
// fixed-fluid-fixed-three-columns.html
//---------------------------------------------
.example3-main {
    @include columns(100px, 100%, 100px) {
        .example3-navigation {
            background: red;
        }
        .example3-content {
            background: blue;
        }
        .example3-aside {
            background: green;
        }
    }
}
